<p>{{title}}</p>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  <!-- Id column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let Company">{{Company.id}}</td>
  </ng-container>
  <ng-container matColumnDef="NUMDAT1">
    <th mat-header-cell *matHeaderCellDef>NUMDAT1</th>
    <td mat-cell *matCellDef="let Company">{{Company.NUMDAT1}}</td>
  </ng-container>
  <ng-container matColumnDef="NUMDAT2">
    <th mat-header-cell *matHeaderCellDef>NUMDAT2</th>
    <td mat-cell *matCellDef="let Company">{{Company.NUMDAT2}}</td>
  </ng-container>
  <ng-container matColumnDef="NUMDAT3">
    <th mat-header-cell *matHeaderCellDef>NUMDAT3</th>
    <td mat-cell *matCellDef="let Company">{{Company.NUMDAT3}}</td>
  </ng-container>
  <ng-container matColumnDef="NUMDAT4">
    <th mat-header-cell *matHeaderCellDef>NUMDAT4</th>
    <td mat-cell *matCellDef="let Company">{{Company.NUMDAT4}}</td>
  </ng-container>
  <ng-container matColumnDef="NUMDAT5">
    <th mat-header-cell *matHeaderCellDef>NUMDAT5</th>
    <td mat-cell *matCellDef="let Company">{{Company.NUMDAT5}}</td>
  </ng-container>
  <ng-container matColumnDef="NUMDAT6">
    <th mat-header-cell *matHeaderCellDef>NUMDAT6</th>
    <td mat-cell *matCellDef="let Company">{{Company.NUMDAT6}}</td>
  </ng-container>
  <ng-container matColumnDef="NUMDAT7">
    <th mat-header-cell *matHeaderCellDef>NUMDAT7</th>
    <td mat-cell *matCellDef="let Company">{{Company.NUMDAT7}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
