table {
  width: 100%;
}
.main-container-header {
  // padding-left: 10px;
  text-align: left;
  // display: block;
  // left: 128px;
  // position: fixed;
}
.main-container {
  top: 100px;
  height: calc(100vh -100px);
  position: sticky;
  overflow: auto;
}
