table {
  width: 100%;
}
.main-container-header {
  // padding-left: 10px;
  text-align: left;
  // display: block;
  // left: 128px;
  // position: fixed;
}
.main-container {
  height: 100%;
  overflow: auto;
}
