<!-- header -->
<mat-toolbar color="primary" class="expanded-toolbar">
  <span>{{title}}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="material-icons" aria-label="Exit">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!-- side menu contents -->
  <mat-sidenav-container class="nav-container">

    <!-- side menu list -->
  <mat-sidenav mode="side" class="nav-list" opened>
    <mat-nav-list>
      <a mat-list-item>List 1</a>
      <a mat-list-item>List 2</a>
      <a mat-list-item>List 3</a>
      <a mat-list-item>List 4</a>
      <a mat-list-item>List 5</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- main contents -->
  <mat-sidenav-content>
    <span>
      <app-company-list></app-company-list>
    </span>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>